* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-size: clamp(1.00rem, calc(0.79rem + 1.07vw), 1.75rem);
}
:root {
  --cyan-400: hsl(193, 38%, 86%);
  --green-400: hsl(150, 100%, 66%);
  --blue-400: hsl(217, 19%, 38%);
  --blue-500: hsl(217, 19%, 24%);
  --blue-700: hsl(218, 23%, 16%);
}
/* LAYOUT */
body {
  background-color: var(--blue-700);
  color: var(--cyan-400);
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.container {
  background-color: var(--blue-500);
  max-width: 600px;
  width: 80%;
  padding: 4em 1em;
  padding-top: 2em;
  border-radius: 20px;
  background-image: url("images/pattern-divider-desktop.svg");
  background-repeat: no-repeat;
  background-position: center calc(100% - 3em);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 5px;
}
#advice-id {
  font-size: 0.75em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--green-400);
  margin-bottom: 1em;
}
#advice {
  margin-bottom: 1em;
}
#icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--green-400);
  display: grid;
  place-items: center;
  box-shadow: 0 0 2px var(--green-400);
  position: absolute;
  top: calc(100% - 25px);
  left: calc(50% - 25px);
  cursor: pointer;
  transition: box-shadow 100ms ease-in, transform 200ms ease-in;
}
#icon:hover {
  box-shadow: 0 0 20px var(--green-400);
}
#icon:active {
  transform: scale(0.9);
  box-shadow: 0 0 10px var(--green-400);
}
footer {
  position: absolute;
  bottom: 1rem;
  font-size: 2rem;
  color: var(--blue-400);
}
.fa-github {
  color: var(--blue-400);
  font-size: 1em;
  transition: transform 300ms ease-in-out;
}
.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
@media (max-width: 575px) {
  .container {
    background-image: url('images/pattern-divider-mobile.svg');
  }
  footer {
    font-size: 1rem;
  }
}